*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.7;
  font-size: 1.6rem;
  overflow-x: hidden;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
